@import url("../styles/satoshi.css");

.navbar {
  height: 7rem;
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;
  font-family: "Satoshi-Black";
}

.logo {
  object-fit: cover;
  height: 5rem;
  width: 5rem;
}

.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 5rem;
  padding: 0 1rem;
}

.desktopMenuListItem {
  margin: 1rem;
  cursor: pointer;
  font-family: "Satoshi-Regular";
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  flex-grow: 1; /* Allow these items to grow and take up available space */
  text-align: center; /* Ensure that text is centered in the items */
}

.desktopMenuListItem:hover {
  color: var(--hover-text-color);
  border-bottom: 2px solid var(--hover-text-color);
}

.desktopContactMeBtn {
  background: white;
  color: black;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  border-radius: 2rem;
  font-family: "Satoshi-Regular";
  font-size: 1.5rem;
  cursor: pointer;
  text-decoration: none;
}

.desktopContactMeIcon {
  object-fit: cover;
  height: 1.5rem;
  width: 1.5rem;
  margin: 1rem;
  border-bottom: none;
}

.desktopMenuListItem:active {
  color: var(--hover-text-color);
}
