@import url("../../src/styles/satoshi.css");

.navbar {
  height: 7rem;
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;
  font-family: "Satoshi-Black";
}

.logo {
  object-fit: cover;
  height: 5rem;
  width: 5rem;
}

.desktopMenuListItem {
  margin: 1rem;
  cursor: pointer;
  font-family: "Satoshi-Regular";
  font-size: 1.5rem;
  text-decoration: none;
  color: #ffffff;
}

.desktopMenuListItem:hover {
  color: #00d084;
  /* color: #92e4cf; */
  border-bottom: 2px solid #00d084;
}

.desktopContactMeBtn {
  background: white;
  color: black;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  border-radius: 2rem;
  font-family: "Satoshi-Regular";
  font-size: 1.5rem;
  cursor: pointer;
  text-decoration: none;
}

.desktopContactMeIcon {
  object-fit: cover;
  height: 1.5rem;
  width: 1.5rem;
  margin: 1rem;
  border-bottom: none;
}

.desktopContactMeLink {
  text-decoration: none;
}
